{% macro render_text_field(field, placeholder) %}
<div class="form__group">
    {{ field(class_="form__field form__text--input", placeholder=placeholder, autocomplete="off") }}
    {% for error in field.errors %}
        <span class="form__error">{{ error }}</span>
    {% endfor %}
</div>
{% endmacro %}

{% macro render_area_field(field, placeholder) %}
<div class="form__group">
    {{ field(
        col=80, rows=4, 
        type="textarea", 
        class_="form__field form__textarea--input", 
        placeholder=placeholder, 
        onfocus="this.style.height = ''; this.style.height = this.scrollHeight +'px';", 
        onkeydown="this.style.height = ''; this.style.height = this.scrollHeight +'px';", 
        onkeyup="this.style.height = ''; this.style.height = this.scrollHeight +'px';"
        )
    }}
    {%- for error in field.errors %}
        <span class="form__error">{{ error }}</span>
    {% endfor %}
</div>
{% endmacro %}

{% macro render_date_field(field, date) %}
<div class="form__group">
    {{ field(id="add__selected-date", class_="form__field form__selected-date--input", type="text", onfocus="(this.type='date')", onblur="(this.type='paragraph')", placeholder=date, autocomplete="off") }}

    {% for error in field.errors %}
        <span class="form__error">{{ error }}</span>
    {% endfor %}
</div>
{% endmacro %}